.rotate-container:hover {
    .rotate {
        animation: rotate-logo 2s linear infinite normal forwards;
    }
}

.item-card:hover {
    animation: scale-slowly 0.75s ease 1 forwards;
}

@keyframes scale-slowly {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

@keyframes rotate-logo {
    0%{
        transform: rotateY(0);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

@media (max-width: 1400px) {
    .item-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        overflow-y: scroll;
    }

    .item-card {
        width: 50%;
        max-width: 450px;
        min-width: 450px;
    }
}

@media (min-width: 1401px) {
    .item-card {
        min-width: 450px;
        max-width: 500px;
    }
}